<h1>Articles</h1>
<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Description:</strong><%= @article.description %></p>
<p><strong>auther:</strong><%= @article.user.username %></p>
<%= link_to gravatar_for(@article.user), user_path(@article.user) %>|
<% if @article.categories.any? %>
<p><%= render @article.categories %></p>
<% end %>
<% if logged_in? && (@article.user == current_user || current_user.admin) %>
<%= link_to 'edit',  edit_article_path(@article)%>|
<%= link_to 'Delete', article_path(@article), method: :Delete, data: { confirm:"are you sure?" } %>|
<% end %>
<%= link_to 'Home page', articles_path%>
